:root {
  --primary-title-color: #2e2f42;
  --primary-text-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.references {
  display: block;
  text-decoration: none;
  color: inherit;
}
.container {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.header-box {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-part1 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}

.logo-part2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: var(--primary-title-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}

.menu {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-title-color);
  padding-top: 24px;
  padding-bottom: 24px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.active::after,
.menu:hover::after,
.menu.focus::after {
  content: "";
  position: absolute;
  display: block;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 4px;
  background: #4d5ae5;
  border-radius: 2px;
  margin-top: 21px;
  opacity: 1;
}
.menu:hover,
.menu:focus {
  color: #4d5ae5;
}

.menu:active {
  color: #4d5ae5;
}

@media screen and (max-width: 767px) {
  .navigation-row {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation-row {
    display: flex;
    margin-left: 123px;
  }
}

@media screen and (min-width: 1440px) {
  .navigation-row {
    display: flex;
    margin-left: 77px;
  }
}

.navigation-row .item + .item {
  margin-left: 40px;
}

/* .phone-number {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1111;
    color: #4D5AE5;
}
.email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #434455;
} */

@media screen and (min-width: 768px) {
  .contacts {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3333;
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1440px) {
  .contacts {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.contacts:hover,
.contacts:focus {
  color: #4d5ae5;
}

@media screen and (max-width: 767px) {
  .contacts-row {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts-row .item + .item {
    margin-top: 4px;
  }
}
@media screen and (min-width: 1440px) {
  .contacts-row .item + .item {
    margin-left: 40px;
  }
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.top-menu-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (min-width: 428px) {
  .hero {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 192px;
    padding-bottom: 192px;
    display: flex;
    flex-direction: column;
    max-width: 767px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobiHero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 428px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobiHero@2x.jpg);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    min-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tableHero.jpg);
  }
}

@media screen and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tableHero@2x.jpg);
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    min-width: 1200px;
    max-width: 1440px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Desctop-people-office\ 1.jpg);
  }
}

@media screen and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Desctop-people-office\ 1@2x.jpg);
  }
}

.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
  max-width: 492px;
  display: inline-block;
}

.button {
  min-width: 170px;
  height: 51px;
  background: #4d5ae5;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.button:active {
  background-color: #404bbf;
  color: #ffffff;
}

.button-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  color: #ffffff;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1140px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 1439px) {
  .section-no-padding {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .section-no-padding {
    padding-top: 0;
    padding-bottom: 120px;
  }
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-description {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 72px 24px;
  }
}

.about-description .item {
  background-position: center;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .about-description .item {
    display: flex;

    flex-wrap: wrap;
    width: calc(100% / 2 - 12px);
  }
}
@media screen and (min-width: 1440px) {
  .about-description .item {
    display: block;
    width: calc(100% / 4 - 18px);
    margin-bottom: 8px;
    background-position: center;
    border-radius: 4px;
  }
}

@media screen and (max-width: 767px) {
  .about-description .item + .item {
    margin-top: 72px;
  }
}

.item-icon {
  display: none;
}

@media screen and (min-width: 1440px) {
  .item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    width: 264px;
    border-radius: 4px;
    background-position: center;
    background-color: #f4f4fd;
  }
}
.icon-description {
  display: block;
  width: 60px;
  height: 64px;
}

.icon-description:before {
  background-color: #f4f4fd;
  height: 112px;
  width: 264px;
}

.about-titles {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  color: var(--primary-title-color);
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .about-titles {
    text-align: start;
  }
}

@media screen and (min-width: 1440px) {
  .about-titles {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-title-color);
    margin-top: 8px;
  }
}

.about-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1440px) {
  .about-text {
    font-weight: 400;
  }
}

.product-title,
.team-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-title-color);
  margin-bottom: 72px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
}

.product-list .item {
  max-width: calc(100% / 3 - 24px);
  margin-left: 24px;
}

.team {
  background-color: #f4f4fd;
}

@media screen and (max-width: 767px) {
  .team-list {
    padding: 0 66px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

.team-list .item {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .team-list > .item + .item {
    margin-top: 72px;
  }
}

.card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.card-description {
  padding: 32px 16px 36px 16px;
  text-align: center;
}

.sm-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 12px;
  padding: 0;
}

.sm-button {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 12px;
}

.sm-button .item + .item {
  margin-left: 24px;
}

.sm-icon {
  display: block;
  width: 16px;
  height: 16px;
  background-position: center;
}

.picture-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-title-color);
  margin-bottom: 8px;
}

.picture-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}
.customers-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 72px 16px;
}

@media screen and (min-width: 768px) {
  .customers-list {
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .customers-list {
    gap: 24px;
  }
}

.customers-logo {
  display: block;
  width: 168px;
  height: 88px;
  fill: #4d5ae5;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0;
}

.customers-logo {
  display: block;
  width: 168px;
  height: 88px;
  color: #8e8f99;
  fill: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0;

  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  display: block;
  width: 104px;
  height: 56px;
}
.customers-logo:hover,
.customers-logo:focus {
  border: 1px solid #4d5ae5;
  fill: #4d5ae5;
}
/* @media screen and (min-width: 428px) {
.footer{
  
   padding:96px 80px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2e2f42;
  
}} */

.footer {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-without-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-without-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #f4f4fd;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
  margin-top: 16px;
}

@media screen and (min-width: 428px) {
  .footer-description {
    width: 268px;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .footer-description {
    width: 264px;
    margin-right: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-description {
    width: 264px;
    margin-right: 120px;
  }
}
@media screen and (min-width: 428px) {
  .footer-sm {
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .footer-sm {
    width: 208px;
    text-align: start;
  }
}

.footer-description > .references {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-description > .references {
    text-align: start;
  }
}

.footer-sm-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  align-items: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer-sm-text {
    text-align: start;
  }
}

.footer-sm-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .footer-sm-list {
    width: 268px;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .footer-sm-list {
    width: 264px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-sm-list {
    width: 208px;
  }
}

.footer-sm-button {
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 8px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sm-button:hover,
.footer-sm-button:focus {
  background: #31d0aa;
}

.footer-sm-list .sm-item + .sm-item {
  margin-left: 16px;
}
.footer-sm-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
}

@media screen and (min-width: 428px) {
  .footer-form-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-form-subscribe {
    flex-direction: row;
    align-items: baseline;
    width: 453px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-form-subscribe {
    flex-direction: row;
    width: 453px;
  }
}
.footer-label {
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-label {
    text-align: start;
  }
}

.footer-input {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2e2f42;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
    margin-right: 24px;
  }
}

.footer-bt-subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 165px;
  padding: 8px 24px;
  background: #4d5ae5;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
}

.subscribe-icon {
  width: 24px;
  height: 20px;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-menu {
  box-sizing: border-box;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
  color: #4d5ae5;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;

  transition-property: background-color, border, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu:hover,
.button-menu:focus {
  background-color: #4d5ae5;
  border: 1px solid transparent;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-position {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 72px;
}

.menu-position .item + .item {
  margin-left: 24px;
}
.card-portfolio {
  border-radius: 0px 0px 4px 4px;
}

.card-reference {
  display: block;
  text-decoration: none;
  color: inherit;
  overflow: hidden;

  transition: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-reference:hover,
.card-reference:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -48px;
}

.portfolio-set .item {
  flex-basis: calc(100% / 3 - 24px);
  margin-left: 24px;
  margin-top: 48px;
}

.thumb-portfolio {
  position: relative;
  overflow: hidden;
}
.card-reference:hover .text-overlay,
.card-reference:focus .text-overlay {
  transform: translateY(0%);
  opacity: 1;
}

.text-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  opacity: 0.3;
  pointer-events: none;
}

.works-description {
  padding: 32px 16px;
  border-left: 0.5px solid #f4f4fd;
  border-right: 0.5px solid #f4f4fd;
  border-bottom: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: scale(0.5);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: scale(0.5);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;

  min-width: 408px;
  max-height: 584px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.button-close {
  width: 8px;
  height: 8px;
}

.modal-button:hover,
.modal-button:focus,
.modal-button:active {
  background: #404bbf;
  fill: #ffffff;
}

.modal-header {
  margin-bottom: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2e2f42;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-position {
  position: relative;
  margin-bottom: 8px;
}

.modal-input {
  width: 360px;
  height: 40px;
  padding: 11px 36px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:active {
  outline: none;
  border: 1px solid #4d5ae5;
}

.modal-svg {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 0;
  left: 0;
  transform: translate(50%, 110%);
  fill: #2e2f42;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-svg {
  fill: #4d5ae5;
}
.textarea {
  position: relative;
  margin-bottom: 16px;
}
.modal-comments {
  display: block;
  resize: none;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.modal-comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.checkbox-label {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.privacy-policy {
  display: block;
  cursor: pointer;
}

.modal-agreement {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.checkbox {
  appearance: none;
}

.new-checkbox {
  display: inline-block;
  position: relative;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1.25px solid #000000;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .new-checkbox {
  background-color: #404bbf;
}

.svg-checkbox {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transform: translate(2px, 2px);
  width: 10px;
  height: 8px;
}

.checkbox:checked + .new-checkbox > .svg-checkbox {
  opacity: 1;
}

.modal-reference {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 4px;
}

.button-send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  padding: 16px 32px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  background: #4d5ae5;
  border: 1px solid #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
